.container {
    min-height: 75vh;
    width: 90%;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border: 1px solid lightgray;
    background-color: white;
}

.card {
	border-left: 5px solid rgb(92, 139, 240);
}

.section {
  min-height: 100vh;
}
