.activeRequests {
    text-decoration: none;
}
.activeRequests.nonclickable {
    pointer-events: none;
    cursor: default;
}
.active {
    background-color: rgb(25, 25, 129) !important;
    color: white;
}