<div >
    <ul>
        <li>Saturday  : {{ strMap['satHours']}}</li>
        <li>Sunday    : {{ strMap['sunHours']}}</li>
        <li>Monday    : {{ strMap['monHours']}}</li>
        <li>Tuesday   : {{ strMap['tueHours']}}</li>
        <li>Wednesday : {{ strMap['wedHours']}}</li>
        <li>Thursday  : {{ strMap['thuHours']}}</li>
        <li>Friday    : {{ strMap['friHours']}}</li>
    </ul>

    <div>
        <button id="close" type="button" class="btn btn-success btn-block" (click)="close()"> Close </button>
     </div>

</div>